@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayThin.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
    /* max-width: 100%; */
}

html, body{
    height: 100%;
    width: 100%;
}
.main{
    position: relative;
    background-color: black;

}
.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

/* navbar */

.nav{
    padding: 2vw 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.nav-part2 h4{
    padding: 12px 23px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 200;
    color: #000000bb;
    transition: all ease 0.3s;
    position: relative;
    font-size: 1.1rem;
    overflow: hidden;
}
.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 100%;
    transition: all ease 0.3s;
}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
.nav-part2 h4 a{
    color: #000000bb;
    text-decoration: none;
    z-index: 9;
    position: relative; 
}
.nav-part2 h4:hover a{
    color: white;
}

/* hero-section */
.center{
    height: 75vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding: 3vw 0;
}
.left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
.center h1{
    font-size: 10.5vw;
    line-height: 8.5vw;
    text-align: right;
    padding-right: 1vw;
}

/* video-section */

.page1 video{
    width: 100%;
    /* background-color: red; */
    border-radius: 25px;
    margin-top: 4vw;
    position: relative;
}

/* video backgound animation */
.hero-shape{
    width: 46vw;
    height: 36vw; 
    position: absolute;
    right: 0;
    top: 80vh;
}
.hero-1{
    height: 100%;
    width: 100%;
    background-color: #fe420a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}
.hero-2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe420a, #fe570a);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(15px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.hero-3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe420a, #fe570a);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes anime1 {
    from{
        transform: translate(55%, -3%);
    }
    to{
        transform: translate(0%, 10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-20%, 30%);
    }
}

/* after video */
.page2{
    min-height: 100vh;
    width: 100%;
    padding: 10vw 0;
    background-color: #EFEAE3;
    position: relative;
}

/* Animation-->scrolling text */
.moving-text{
    overflow-x: scroll;
    white-space: nowrap;
}
.moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block; 
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.moving-text h1{
    font-size: 9vw;
    display: inline-block;
}
.circle-shape{
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 50%;
    background-color: #fe420a;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* after animated text */
.page2-bottom{
    height: 90vh;
    width: 100%;
    /* background-color: #EFEAE3; */
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
.page2-bottom h1{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}
.img-div{
    width: 21%;
    /* background-color: aqua; */
    margin-top: 15vw;
}
.img-div img{
    width: 100%;
    border-radius: 10px;
}
.img-div p{
    font-weight: 200;
    text-align: left;
    margin-left: 0.3vw;
    margin-top: 2vw;
}

/* back-circle animation */
.page2 .back-circle{
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #fe420a, #fe570a);
    top: 58%;
    left: 30%;
    filter: blur(20px);
    animation-name: back-circle;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes back-circle {
    from{
        transform: translate(10%, -10%) skew(0);
    }
    to{
        transform: translate(-10%, 10%) skew(-5deg);
    }
}
.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    /* position: relative; */
}
.page3-heading{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}
.point-circle{
    height: 0.5vw;
    width: 0.5vw;
    border-radius: 50%;
    background-color: #fe420a;
    margin-right: 0.5vw;
}
.page3-heading{
    font-weight: 200;
}

/* image appearing on hover */
.elem{
    height: 120px;
    width: 100%;
    padding: 0 2vw;
    border-bottom: 1px solid #0000003c;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.elem h2{
    font-size: 3vw;
    /* position: relative; */
    z-index: 9;
}
.right-elem h4{
    font-size: 1vw;
    font-weight: 200;
    text-align: right;
    /* position: relative; */
    z-index: 9;
}
.right-elem p{
    font-size: 1vw;
    font-weight: 100;
    text-align: right;
    /* position: relative; */
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(255, 159, 56);
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay{
    top: 0;
}

.image-container-img{
    height: 30vw;
    width: 25vw;
    border-radius: 10px;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 20%;
    background-color: transparent;
    background-size: cover;
    display: none;
    pointer-events: none;
    /* opacity: 0; */
}
.image-container-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: none;
    pointer-events: none;
}
.image-container-video{
    height: 30vw;
    width: 25vw;
    border-radius: 10px;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 20%;
    background-color: transparent;
    background-size: cover;
    display: none;
    pointer-events: none;
    /* opacity: 0; */
}
.image-container-video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: none;
    /* opacity: 0; */
}

.page3 button{
    height: 3vw;
    width: 12vw;
    padding: 1vw;
    margin-left: 2vw;
    margin-top: 4vw;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 50px;
    background-color: #EFEAE3;
    position: relative;
    overflow: hidden;
    border: 1px solid #0000003c;
    display: flex;
    align-items: center;
    justify-content: center;

}
.page3 button::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    font-size: 1rem;
    font-weight: 200;
    left: 0;
    bottom: -101%;
    border-radius: 100%;
    transition: all ease 0.3s;
}
.page3 button p{
    z-index: 9;
}
.page3 button:hover::after{
    bottom: 0;
    border-radius: 0;
}
.page3 button:hover p{
    color: white;   
}



.page4{
    min-height: 60vh;
    width: 100%;
    background-color: #EFEAE3;

}

































